@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
	background-color:#fffab6;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
}

#navigatie {
	margin-top:20px;
	padding: 10px;
	background-color: #2DB899;
	border-radius: 7px;
}
#navigatie ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

#navigatie ul li {
	margin-right: 15px;
}

#navigatie ul li a {
	text-decoration:none;
	background-color: #FFFB74;
	color: #000000;
	border: 1px solid #000000;
	display: block;
	width: 100%;
	padding: 15px;
	font-size: 15px;
	border-radius: 10px;
	text-align:center;
}

.jumbotron {
	padding: 200px 0px;
	margin: 5px 0px;
	background: url(../img/weggeefwinkel-voorkant-blur.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	margin-bottom: 20px;
	border-radius: 5px;
}

.jumbotron h1 {
	text-align: center;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
}

	
h1 {
	font-size:40px;
}

h2 {
	font-size:30px;
	margin: 10px 0px;;
}



