@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
	background-color:#fffab6;
	font-family: 'Montserrat', sans-serif;
}

#head {
	margin-top:20px;
	padding: 10px;
	background-color: #2DB899;
	border-radius: 7px;
}
#head ul {
	list-style-type:none;
	margin:0;
	padding-top: 1%;
	padding-right: 30px;
}

#head ul li {
	margin-right: 15px;
}

#head ul li a {
	text-decoration:none;
	background-color: #FFFB74;
	color: #000000;
	border: 1px solid #000000;
	display: block;
	width: 100%;
	padding: 15px;
	font-size: 15px;
	border-radius: 10px;
	text-align:center;
}

#head ul li a.active {
	background-color: #FF9B62;
	color: #000000;
}

#head ul li a:hover {
	background-color: #FF9B62;
	color: #000000;
}

.jumbotron {
	padding: 200px 0px;
	margin: 5px 0px;
	background: url(../img/weggeefwinkel-voorkant-blur.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	margin-bottom: 20px;
	border-radius: 5px;
}

.jumbotron h1 {
	text-align: center;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	color:white;
	text-shadow: 2px 2px 3px rgba(150, 150, 150, 1);
}

	
h1 {
	font-size:40px;
}

h2 {
	font-size:30px;
	margin: 10px 0px;;
}

#inhoud {
	color: black;
	background-color:white;
	padding:0px 30px;
}


